*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    text-decoration: none;
  color: black;
}

body{
    background-color: #9EBC9E;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffafc5;
    height: 50px;
}
.homeclass{
    width: 80%;
}
.panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffcfd2;
    height: 40px;
    
}
.resource{
    width: 60%;
    align-items: start;
}
.content-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #9EBC9E;
}

.hero-section{
    background-image: url(heroimage.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: #ffcfd2;
    color: #0f1111;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
margin-bottom: 25px;
width: 80%;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}
.nyimg{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 10px;
    margin-right: 10px;

}
.box-content p{
    color: #007185;
    
}
footer{
    margin-top: 15px;
}
.foot-panel1{
  background-color: #ffcfd2;
    
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color:#ffafc5;
    color: white;
    height: 25px;
    display: flex;
    justify-content: space-around;
}

.foot-panel3{
    background-color:#ffafc5;
    color: white;
height: 70px;
    border-top: 0.15px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("logo.jpeg");
    background-size: cover;
    height: 48px;
    width: 100px;
   
    
}
.foot-panel4{
    background-color: #e0479e;
    height: 76px;

}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
    color: white;
}
